language: generic
sudo: required
services:
  - docker

brfore_install:
  - docker build -t ting927/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true ting927/docker-react npm run test